p {
  width: 500px;
  padding: 1em;
  margin: 2em;
  border: 1px solid;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2em;
}
#p_1 {
  font-weight: normal;
  font-style: normal;
}
#p_2 {
  font-style: oblique;
  font-weight: normal;
}
#p_3 {
  font-weight: bold;
}
